body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
}


/* CSS Navegacion */
.button-nav {
    border: none;
    font-size: 2.3rem;
    background-color: gray;
    color: black;
    justify-content: center;
}

.button-nav {
    margin: 0rem 10rem;
}

.button-nav:hover {
    background-color: white;
}



.content-buttons {
    display: flex;
    background-color: gray;
    display: flex;
    height: 5rem;
    justify-content: space-between;
}

.buttons-list{
    list-style: none;
    padding: 0;
    margin: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-nav-text {
    margin: 0;
    padding: 0;
    display: block;
}

/*Css Navegacion Fin*/